@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@theme {
    --color-primary: #59e7ab; /* teal color */
    --color-primary-dull: #6db4f2; /* light blue color */
}

*{
    font-family: "Outfit", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #787777 #1e1e1e;
}

body {
    color: white;
    background-color: #09090B;
}